extends ../layout

block content
    .row
        .col-md-12
            form(action='', method='post')
                .form-group
                    label 用户名
                    input.form-control(name='username', value='#{user.username}')
                .form-group
                    label 姓名
                    input.form-control(name='name', value='#{user.name}')
                .form-group
                    label 地址
                    input.form-control(name="address", type="text", value='#{user.address}')
                .form-group
                    label 生日
                    input.form-control(name="birthday", type="date", value='#{birthday}')
                input(type='hidden', name='_csrf', value='#{token}')
                button.btn.btn-primary(type='submit') 提交

block foot-js
    script.
        Messenger.options = {
            extraClasses: 'messenger-fixed messenger-on-bottom messenger-on-right',
            theme: 'flat'
        };
        $(function() {
            var messenger;
            $('form').ajaxForm({
                beforeSerialize: function() {
                    console.log('beforeSerialize')
                },
                beforeSubmit: function() {
                    console.log('beforeSubmit')
                    messenger = Messenger().post("处理中...");
                },
                success: function(data, status, xhr, $form) {
                    console.log(data)
                    var status = data.status;
                    if (status) {
                        messenger.update({
                            message: '更新成功',
                            hideAfter: 3,
                            type: 'success'
                        });
                    } else {
                        messenger.update({
                            message: '更新失败',
                            hideAfter: 3,
                            type: 'success'
                        });
                    }
                },
                err: function() {
                    console.log('error')
                    messenger.update({
                        message: '系统繁忙',
                        hideAfter: 3,
                        type: 'success'
                    });
                }
            })
        })