extends ../layout

block content
    .row
        .col-md-12
            .panel.panel-default
                .panel-heading
                    | 老表信息
                .panel-body
                    .form-horizontal
                        .form-group
                        .form-group
                            label.col-sm-2.control-label 用户名：
                            .col-sm-10 
                                p.form-control-static #{user.username}
                        .form-group
                            label.col-sm-2.control-label 姓 名：
                            .col-sm-10 
                                p.form-control-static #{user.name}
                        .form-group
                            label.col-sm-2.control-label 地 址：
                            .col-sm-10
                                p.form-control-static #{user.address}
                        .form-group
                            label.col-sm-2.control-label 生 日：
                            .col-sm-10
                                p.form-control-static #{moment(user.birthday).format('YYYY-MM-DD')}
                        .form-group
                            label.col-sm-2.control-label(for="") 犯错次数：
                            .col-sm-10
                                p.form-control-static #{user.count}

 

