extends ../layout

block content
    .row
        .col-md-12
            .lists
                a.btn.btn-info(href='#{adminDir}/user/add') 添加老表
                table.table.table-striped
                    thead
                        tr
                            th 用户名 
                            th 姓名
                            th 地址
                            th 生日
                            th 次数
                            th 金额
                            th 操作
                    tbody
                        - each user in users
                            tr
                                td 
                                    a(href='#{adminDir}/user/#{user._id}', title='#{user.email}') #{user.username}
                                td #{user.name}
                                td #{user.address}
                                td #{moment(user.birthday).format('YYYY-MM-DD')}
                                td #{user.count}
                                td #{user.fined}
                                td 
                                    a.btn.btn-default.btn-xs(href='#{adminDir}/user/#{user._id}/edit') 编辑
                if (pageInfo && pageInfo.totalPage > 1)
                    - pageInfo.query = query
                    include ../mixin
                    +pagination(pageInfo)

block foot-js
    script.
        var token = '#{token}';
        Messenger.options = {
            extraClasses: 'messenger-fixed messenger-on-bottom messenger-on-right',
            theme: 'flat'
        };
        $(function() {
            $(document).on('click', '.J_del', function(e) {
                e.preventDefault();
                var $this = $(this);
                var url = $this.attr('href');
                var messenger = Messenger().post("处理中...");
                $.post(url, {_csrf: token}, function(res) {
                    console.log(res);
                    var status = res.status;
                    if (status) {
                        messenger.update({
                            message: '删除成功',
                            hideAfter: 3,
                            type: 'success'
                        });
                        setTimeout(function() {
                            $this.closest('tr').remove();
                        }, 1000)
                        
                    } else {
                        messenger.update({
                            message: '删除失败',
                            hideAfter: 3,
                            type: 'error'
                        });
                    }
                })
            })
        })