extends layout

block content
    .console
        h3(style="text-align:center") 每日正能量群管理
        h4 你好，#{User.name} &nbsp;&nbsp;  本周值日群主:&nbsp; #{data.duty.name}
    .row
        .col-md-3.col-sm-6
            a(href="#{adminDir}/punishment/")
                .dashboard-tile.detail.tile-turquoise
                    .content
                        h1.text-left.timer(data-from='0', data-to='180', data-speed='2500') #{data.punishment}
                        p 惩罚
                    .icon
                        i.fa.fa-folder
        .col-md-3.col-sm-6
            a(href="#{adminDir}/comment/")
                .dashboard-tile.detail.tile-blue
                    .content
                        h1.text-left.timer(data-from='0', data-to='180', data-speed='2500') #{data.comment}
                        p 反馈
                    .icon
                        i.fa.fa-comments
        .col-md-3.col-sm-6
            a(href="#{adminDir}/user/")
                .dashboard-tile.detail.tile-turquoise
                    .content
                        h1.text-left.timer(data-from='0', data-to='56', data-speed='2500') #{data.user}
                        p 老表 
                    .icon
                        i.fa.fa-users
        .col-md-3.col-sm-6
            a(href="#{adminDir}/log/")
                .dashboard-tile.detail.tile-blue
                    .content
                        h1.text-left.timer(data-from='0', data-to='32', data-speed='2500') #{data.all + 55}
                        p 经费
                    .icon
                        i.fa.fa-file

        //- .col-md-3.col-sm-6
        //-     a(href="#{adminDir}/file/")
        //-         .dashboard-tile.detail.tile-purple
        //-             .content
        //-                 h1.text-left.timer(data-to='105', data-speed='2500') #{data.file}
        //-                 p 文件
        //-             .icon
        //-                 i.fa.fa-file
    

block foot-js
    script.

                
